<html th:replace="~{layout :: layout (${blog.title}, ~{::main})}">
    <head>
    </head>

    <body>

        <main>
            <h1 th:text="${blog.title}"></h1>
            <div>
                <a th:href="@{/update/} + ${blog.id}">Edit</a>
                <form th:action="@{/delete/} + ${blog.id}" method="post">
                    <button type="submit">Delete</button>
                </form>
            </div>
            <div th:remove="tag" th:utext="${blogContent}"></div>
        </main>

    </body>
</html>

