<html th:replace="~{layout :: layout ('Home', ~{::main})}">
    <head>
    </head>

    <body>

        <main>
            <h1>Blogging Webiste</h1>
            <p>Elit nihil ea veniam architecto in, voluptates! Nostrum libero exercitationem ab distinctio enim quaerat? Cupiditate animi error excepturi nostrum voluptate! Dignissimos amet non porro incidunt suscipit. Vero animi omnis harum commodi laboriosam ea in Officiis sequi temporibus ipsum fuga excepturi incidunt et Itaque atque vero numquam repudiandae velit. Quaerat aliquid error recusandae obcaecati necessitatibus. Recusandae dignissimos molestiae recusandae corrupti voluptatem. Deserunt quidem aperiam corrupti natus culpa amet eum Laudantium corporis officiis mollitia rerum sequi consequatur odio distinctio. Ipsum blanditiis accusantium consequuntur soluta facere debitis? Molestiae architecto quis perspiciatis sint tenetur Est sapiente facere pariatur magni veritatis. Enim ratione eveniet natus?</p>
        </main>

    </body>
</html>
